.logo img {
    height: 80px;
    width: auto;
    display: block;
}

/* バナー */
.hero img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* テキスト */
.content {
    text-align: center;
    padding: 100px 20px;
}

.content p {
    color: #666;
    font-size: 24px;
}

/* ヘッダー */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* ✨ 修正ポイント */
.menu-toggle {
    cursor: pointer;
    z-index: 1000;
    position: relative;
    font-size: 32px;
    right: 10px;
    user-select: none;
    color: #666;
}

.menu-close {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: #666;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 380px;
    height: 100vh;
    background: #fff;
    padding: 40px 20px;
    transition: 0.3s ease;
    z-index: 100;
}

.side-menu.active {
    right: 0;
}

.menu-logo img {
    max-width: 180px;
    height: auto;
    display: block;
    margin: 60px auto 30px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin: 20px 15px;
    color: #666;
}

.menu-list a {
    text-decoration: none;
    color: #666;
    display: block;
    padding: 10px 0;
}

.menu-sns img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 0 20px;
}

body {
    background-color: #f5f5f5;
    font-family: "Arial", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
    font-weight: 400;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 16px;
}

.btn {
    display: block;
    width: fit-content;
    margin: 50px auto;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #9c9c9c;
}

body {
  background: red !important;
}
